@import './../../../assets/styles/variables';
@import './../../../assets/styles/colors';

.footer-container {
  align-items: center;
  background: $footer-background-color;
  display: flex;
  height: $footer-height;
  justify-content: center;
}
