@import './../../../assets/styles/variables';

h3 {
  text-align: center;
}
.list-wrapper {
  display: grid;
  grid-gap: 0 15px;
  grid-template-columns: 1fr;
}
@media (min-width: $device-table-portrait) {
  .list-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 30px), 1fr));
  }
}

@media (min-width: $device-tablet-landscape) {
  .list-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (min-width: $device-desktop) {
  .list-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
