.group-list-item {
  align-items: center;
  display: flex;
  padding: 5px 0;
}

.group-list-item-image {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

.group-list-item-group {
  font-size: 1.4rem;
  padding-left: 16px;
  pointer-events: none;
}
