@import './../../../assets/styles/colors';
.visible {
  height: 30vh;
  opacity: 1;
  width: 60vw;
}
div {
  align-items: center;
  background-color: $text-color;
  bottom: 0;
  border-radius: 4px;
  color: $text-color-alternative;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  left: 0;
  margin: auto;
  opacity: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 60vw;
  text-transform: uppercase;
  transition: opacity 0.3s;
}

span {
  align-items: center;
  display: flex;
  flex: 1;
}
