.group-detail {
}
.group-detail-image-wrapper {
  flex: 1;
  padding: 0 20px;
}
.group-detail-image-wrapper-image {
  width: 100%;
  &.small {
    height: 70px;
    width: auto;
  }
}
.group-detail-image-url {
  width: 100%;
}
.group-detail-form {
  display: flex;
}
.group-detail-form-label {
  padding-right: 10px;
}
.group-detail-data-wrapper {
  display: flex;
  flex-direction: column;
}
.group-detail-data-wrapper-row {
  padding: 10px 0;
}
