<div class="date">
  <a [routerLink]="['/date',date._id]" [class]="extraclass ? 'link-' + extraclass : ''">
    <div class="image" [ngStyle]="{'background-image': 'url(' + (date.image[0][1] | bandImage) + ')'}">
      <!-- <img [src]="date.image[0][1] | bandImage" [alt]="date.name"> -->
    </div>
    <div class="info">
      <p><label class="date-title">{{date.name}}</label></p>
      <ul [class]="extraclass">
        <li *ngFor="let concertDate of date.dates">
          <app-date-calendar
            [hour]="concertDate.hour"
            [city]="concertDate.city"
            [date]="concertDate.date">
          </app-date-calendar>
          <div class="extra-info" >
            <p class="tour" *ngIf="concertDate.tour !== ''">{{concertDate.tour}}</p>
            <p><label>Sala: </label><a [href]="concertDate.place.url">{{concertDate.place.name}}</a></p>
            <p><label>Hora: </label>{{concertDate.hour}}</p>
            <p *ngIf="concertDate.price !== ''"><label>Precio: </label>{{concertDate.price}}</p>
          </div>
          <!-- {{concertDate.city}} -->
          <!-- {{concertDate.date}}  -->
        </li>
      </ul>
    </div>
  </a>
</div>
