<div [class]="extraclass ? 'date wrapper-' + extraclass : 'date'">
  <a [routerLink]="['/date',date._id]" [class]="extraclass ? 'date-container link-' + extraclass : 'date-container'">
    <div class="image" [ngStyle]="{'background-image': 'url(' + (date.image.big | bandImage) + ')'}"></div>
    <div class="info">
      <p class="date-title-wrapper"><label class="date-title">{{date.name | capitalize}}</label></p>
      <ul [class]="extraclass">
        <li *ngFor="let concertDate of date.dates">
          <app-date-calendar
            [hour]="concertDate.hour"
            [city]="concertDate.city"
            [date]="concertDate.date">
          </app-date-calendar>
          <div class="extra-info" >
            <p class="tour" *ngIf="concertDate.tour !== ''">{{concertDate.tour}}</p>
            <p><label>Sala: </label><a [href]="concertDate.place.url">{{concertDate.place.name}}</a></p>
            <p><label>Hora: </label>{{concertDate.hour}}</p>
            <p *ngIf="concertDate.price !== ''"><label>Precio: </label>{{concertDate.price}}</p>
          </div>
        </li>
      </ul>
    </div>
  </a>
</div>
