<div class="date">
  <div class="image" [ngStyle]="{'background-image': 'url(' + (date.image[0][1] | bandImage) + ')'}">
    <!-- <img [src]="date.image[0][1] | bandImage" [alt]="date.name"> -->
  </div>
  <div class="info">
    <p><label>{{date.name}}</label></p>
    <ul>
      <li *ngFor="let concertDate of date.dates">
        <app-date-calendar
          [hour]="concertDate.hour"
          [city]="concertDate.city"
          [date]="concertDate.date">
        </app-date-calendar>
        <!-- {{concertDate.city}} -->
        <!-- {{concertDate.date}} {{concertDate.hour}} -->
      </li>
    </ul>
  </div>
</div>
