$alternative-color: #00F3CB;
$black-opacity: hsla(0, 96%, 0%, 0.7);
$calendar-header: #b71c1c;
$date-card-background: hsla(166, 96%, 100%, 0.8);
$text-color: #fcfcfc;
$text-color-alternative: #010101;
$footer-background-color: $black-opacity;
