body {
  background: url('./assets/images/background.jpg') fixed;
  color: $text-color;
  font-family: $aleo-regular;
}

a.link {
  color: $alternative-color;
  text-decoration: underline;
  transition: all 0.3s ease-in;
  &:hover {
    color: $text-color;
  }
}
